.login-form_field {
    margin: 0 80px 50px 80px;
}

.login-form_text {
    font-family: 'G-Roboto Condensed-n3';
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(145, 145, 145);
    display: block;
    margin-bottom: 5px;
}

.login-form_input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 10px;

    &:focus {
        outline: none;
    }
}
